/*try mag background fix in about me to put the nav bar*/
/*"container" class includes margin. "container-fluid hindi"*/
/*add media queries*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.col-lg-12, 
.col-lg-6, 
.col-lg-3, 
.col-lg-4{
	padding:0;
}




.container-fluid{
	background-color: black;
	font-family: 'Quicksand', sans-serif;
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*width: 100vw;*/
}

.navbar{
	position: fixed;
	width: 100vw;
	left: 0;
	/*background-color: black;*/
	background-color: rgba(192,192,192, .5);
	height: 6.5%;
	color: black;
	/*position: absolute;*/
}

.navbar-brand{
	color: white;
}

.edit_nav{
	color: white;
	background-color: black;
}

#navbar-nav > ul > li > a:hover{
	background-color: turquoise;
	color: black;
}

.sd_white{
	width: 39px;
	height: 30px;
}

/*.navigate{
	background-color: blue;
	font-family: 'Quicksand', sans-serif;
	left: 78%;
	border: 1px solid white;
	z-index: 10;
	position: fixed;
	visibility: hidden;
}

#hov-button {
	position: fixed;
	left: 90%;
	top: 0;
	z-index: 15;
	background-color: rgba(88,88,88, 0.1);
	border-color: rgba(88,88,88, 0.1);
}
*/
/*#nav-hov {
	position: relative;
	padding: 10px;
	background-color: red;
}*/

/*#hov-button:hover ~ .navigate {
	visibility: visible;
}

.navigate > a{
	margin: 3px 1.5px 1.5px 3px;
	width: 130px;
	height: 60px;
	background-color: black;
	color: white;
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
	border: 1px solid white;
	float:left;
}

.navigate > a:hover{
	background-color: aquamarine;
	color: black;
}*/


.row:after{
	content: "";
	display: block;
	clear: both;
}

.box{
	top: 50%;
	left: 50%;
	/*border: 1px solid black;*/
	height: 300px;
	width: 40%;
	position: absolute;
	transform: translate(-50%, -50%);
	/*padding: 100px;*/
}

.box_portfolio{
	margin-left: 150px;
	margin-top: 15px;
	text-align: center;
	font-size: 25px;
	font-family: 'Electrolize', sans-serif;
	font-weight: 900;
	float: left;
	animation-delay: 1.5s;
}

.header{
	min-height: 100vh;
	width: 100vw;
	background-color: white;
	margin-left: 0;
	position: relative;
	/*float:left;*/
	/*margin-top: 50px;*/
}

/*.container{
	border: 1px solid red;
}*/

.s_logo{
	margin-top: 50px;
	margin-left: 35px;
	height: 200px;
	width: 225px;	
	animation-duration: 3s;
	/*animation-delay: 1s;*/
	float:left;
}

.d_logo{
	margin-top: 50px;
	margin-right: 10px;				
	height: 200px;
	width: 225px;	
	animation-duration: 2s;
	/*animation-delay: 1s;*/
	float: left;
}

/*.row{
	min-height: 100vh;
}*/


.pic{
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	background-image: url(../images/pic.jpg);
	border-radius: 50%;
	border: 3px solid gray;
	float: left;

}

#about_me_page{
	min-height: 80vh;
	/*border-bottom: 1px solid;*/
	/*border-color: rgba(88,88,88, 0.7);*/
	/*border: 1px solid white;*/
	margin: 80px 30px 80px 30px;
	background-color: rgba(88,88,88, 0.3);

}



.left_about_me{
	width: 100%;
	position: relative;
	float:left;
	min-height: 100%;
	/*border: 1px solid white;*/
}



.pic_class{
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	/*width: 300px;*/
	float: left;
}

.details{
	/*top: 50%;
	left: 50%;*/
	margin-top: 65%;
	margin-left: 3%;
	/*position: absolute;*/
	/*transform: translate(-50%, -50%);*/
	color: white;
	text-align: center;
	letter-spacing: 2px;
	/*float: left;*/
}

.detail_1{
	color: aquamarine;
}

.right_about_me{
	/*width: 100%;*/
	/*background-color: rgba(88,88,88, 0.4);*/
	/*border-radius: 30%;*/
	width: 100%;
	color: white;
	min-height: 100%;
	float: left;
	/*border: 1px solid white;*/
}

.box_about{
	text-align: justify;
	text-indent: 30px;
	line-height: 30px;
	margin-top: 150px;
	padding-left: 0px;
	padding-right: 50px;
	width: 100%;
	/*border: 1px solid red;*/
	float: left;

}

.logo2_box{
	margin-top: 50px;
	width: 100%;
	padding-left: 30px;
}
.logo2{
	height: 85px;
	width: 83px;
	float: left;
	margin-left: 20px;
}

.logo3{
	height: 85px;
	width: 80px;
	margin-left: 20px;
	margin-top: 50px;
	float:left;
}



/*projects*/


#projects{
	padding-left: 10%;
	/*border: 1px solid white;*/
	background-color: rgba(20,20,20, 0.7);
}
.recent_proj{
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	margin:0;
	letter-spacing: .3px;
	/*font-weight: 900;*/
	color: aquamarine;
	margin-top: 10px;
	margin-bottom: 10px;
	/*border: 2px solid red;*/
/*	height: 10%;*/
}


#project_rows{
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 80px;
	/*padding-right: 50px;*/
	/*border: 1px solid white;*/
	background-color: rgba(20,20,20, 0.7);
}

.project{
	background-color: rgba(88,88,88, 0.7);
	color: white;
	line-height: 30px;	
	width: 90%;
	/*float: left;*/
	/*border: 2px solid red;*/
	padding: 10px;	
	border-radius: 10px;
}

.web{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

.web_pic{
	width: 100%;
	height: 300px;

}

.contact{
	min-height: 100vh;
	background-color: rgba(20,20,20, 0.7);
	/*background-color: black;*/
}

.contact_us{
	top: 55%;
	left: 50%;
	height: 350px;
	background-color: #53e3d4;
	padding: 20px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	border: 1px solid black;
}



.footer_edit{
	width: 100%;
	margin:0;
	padding-top:15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
	color: white;
}

.bg-info{
	background-color: rgba(20,20,20, 0.7);
}