/*try mag background fix in about me to put the nav bar*/
/*"container" class includes margin. "container-fluid hindi"*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	position: fixed;
	width: 100vw;
	left: 0;
	/*background-color: black;*/
	background-color: rgba(192,192,192, .5);
	height: 5%;
	/*color: black;*/
	/*position: absolute;*/
}

.navbar-brand{
	color: pink;
}



.container-fluid{
	background-color: black;
	font-family: 'Quicksand', sans-serif;
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/*width: 100vw;*/
}

.navigate{
	background-color: blue;
	font-family: 'Quicksand', sans-serif;
	left: 78%;
	border: 1px solid white;
/*	position: absolute;*/
	z-index: 10;
	position: fixed;
	visibility: hidden;
	/*overflow:hidden;*/
}

#hov-button {
	position: fixed;
	left: 90%;
	top: 0;
	z-index: 15;
	background-color: rgba(88,88,88, 0.1);
	border-color: rgba(88,88,88, 0.1);
}

/*#nav-hov {
	position: relative;
	padding: 10px;
	background-color: red;
}*/

#hov-button:hover ~ .navigate {
	visibility: visible;
}

.navigate > a{
	margin: 3px 1.5px 1.5px 3px;
	width: 130px;
	height: 60px;
	background-color: black;
	color: white;
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
	border: 1px solid white;
	float:left;
}

.navigate > a:hover{
	background-color: aquamarine;
	color: black;
}


.row:after{
	content: "";
	display: block;
	clear: both;
}

.box{
	top: 50%;
	left: 50%;
	/*border: 1px solid black;*/
	height: 300px;
	width: 40%;
	position: absolute;
	transform: translate(-50%, -50%);
	/*padding: 100px;*/
}

.box_portfolio{
	margin-left: 150px;
	margin-top: 15px;
	text-align: center;
	font-size: 25px;
	font-family: 'Electrolize', sans-serif;
	font-weight: 900;
	float: left;
	animation-delay: 1.5s;
}

.header{
	min-height: 100vh;
	background-color: white;
	position: relative;
	/*float:left;*/
	/*margin-top: 50px;*/
}

/*.container{
	border: 1px solid red;
}*/

.s_logo{
	margin-top: 50px;
	margin-left: 35px;
	height: 200px;
	width: 225px;	
	animation-duration: 3s;
	animation-delay: 1s;
	float:left;
}

.d_logo{
	margin-top: 50px;
	margin-right: 10px;				
	height: 200px;
	width: 225px;	
	animation-duration: 3s;
	animation-delay: 1s;
	float: left;
}

/*.row{
	min-height: 100vh;
}*/

.box_about{
	text-align: justify;
	text-indent: 30px;
	line-height: 30px;
	margin-top: 200px;
	margin-left: 50px;
	margin-right: 50px;
}

.pic{
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	background-image: url(../images/pic.jpg);
	border-radius: 50%;
	border: 3px solid gray;
	float: left;

}

.about_me_page{
	min-height: 100vh;
}

.left_about_me{
/*	width: 100%;*/
	position: relative;
	float:left;
}

.pic_class{
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	/*width: 300px;*/
	float: left;
}

.details{
	/*top: 50%;
	left: 50%;*/
	margin-top: 65%;
	margin-left: 3%;
	/*position: absolute;*/
	/*transform: translate(-50%, -50%);*/
	color: white;
	text-align: center;
	letter-spacing: 2px;
	/*float: left;*/
}

.detail_1{
	color: aquamarine;
}

.right_about_me{
	/*width: 100%;*/
	background-color: rgba(88,88,88, 0.4);
	/*border-radius: 30%;*/
	color: lightgray;
	min-height: 100vh;
	border: 1px solid pink;
	float: left;
}

/*.navigate > ul > li > a{
	float: left;
	display: block;

}*/


.project_rows{
	min-height: 100vh;
}

.recent_projects{
	/*min-height: 100vh;*/
	/*padding-left: 10%;*/
	/*margin-top: 3.5%;*/
	/*margin-left: 10%;*/
	/*background-color: rgba(88,88,88, 0.9);*/
	background-color: black;
	/*padding-left: */
	/*border: 2px solid red;*/
}

.recent_proj{
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	margin:0;
	letter-spacing: .3px;
	/*font-weight: 900;*/
	color: aquamarine;
	/*border: 2px solid red;*/
/*	height: 10%;*/
}


.project_list{
	padding-left: 140px;
}


.projects{
	background-color: rgba(88,88,88, 0.7);
	margin-right: 80px;
	color: white;
	line-height: 30px;
	/*float: left;*/
	border: 2px solid red;
	padding: 0;
}

.web{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

.web_pic{
	width: 100%;
	height: 300px;
}

.contact{
	min-height: 100vh;
	background-color: aquamarine;
}